
.form-container{
   width: 500px;
   height: 250px;
   margin: 30px;
   display: flex;
   flex-direction: column;
   >h2{
       text-align: center;
       text-transform: uppercase;
       padding-bottom: 10px;
   }
   >section input{
       height: 30px;
       width: 50%;
       padding:10px ;
       font-weight: bolder;
       font-size: 18px;
   }
   > textarea{
       height: 100%;
       width: 100%;
       padding:10px ;
       resize: none;
       font-weight: bolder;
       font-size: 18px;
   }
    >button{
     height: 50px;
     font-size: 18px;
     font-weight: bolder;
    }
   >p{
       color:white;
       font-weight: bolder;
       font-size: 18px;
       text-align: center;
       display: none;
   }
}
