header {
  height: 10vh;
  display: grid;

  .header-icons-container {
    display: grid;
    background-color: rgb(50, 154, 252);
    justify-content: end;

    .icons {
      display: flex;
      width: 150px;
      justify-content: space-evenly;
      align-self: center;

      img {
        width: 40px;
      }
    }
  }

  nav {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    .nav-logo-container a {
      margin-left: 10px;
    }
    a {
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
    }
    a:hover {
      color: rgb(50, 154, 252);
    }
  }
}
