footer {
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 100px;
  .footer-top {
    background-color: rgb(50, 154, 252);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    >a{
      height: 150px;

    >img{
      max-width: 100%;
      height: 100%;
      object-fit: contain;
    } 
    }
    
   
  }
  .footer-bottom {
    display: grid;
    place-content: center;
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 10px;
  }
}
