@import url("http://fonts.cdnfonts.com/css/common-pixel");
@import url("http://fonts.cdnfonts.com/css/borgen");
@import "../../../node_modules/pixel-borders/src/styles/pixel-borders.scss";
:root {
  --pixel-size: 5;
  --ff--kosalsay: "Borgen", sans-serif;
}

.kosalsay {
  font-family: var(--ff--kosalsay);
  letter-spacing: 1px;
}

.blogs-main {
  display: grid;
}

.blogs-news-container {
  background-color: #e6e9ed;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 450px;
  gap: 20px;
}

.blogs-news-img-container {
  place-self: center;
  max-height: 500px;
  max-width: 500px;
}

.blogs-news-img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.blogs-news-info-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.blogs-news-info-container h2 {
  text-transform: uppercase;
}

.blogs-main a {
  padding: 10px;
  text-transform: capitalize;
}

.blogs-post-container {
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
  > h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }
}
