@import url("http://fonts.cdnfonts.com/css/common-pixel");

:root {
  --pixel-size: 5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Common Pixel", sans-serif;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}
