@import url("http://fonts.cdnfonts.com/css/borgen");
@import url("http://fonts.cdnfonts.com/css/common-pixel");
@import "../node_modules//pixel-borders/";
  
:root {
  --pixel-size: 5;
  --ff--kosalsay: "Borgen", sans-serif;
}

.kosalsay {
  font-family: var(--ff--kosalsay);
  letter-spacing: 1px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Common Pixel", sans-serif;
}

a {
  text-decoration: none;
  display: inline;
  color: black;
}
